In [36]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
!wget https://datasets.imdbws.com/title.akas.tsv.gz

--2023-04-09 12:21:37--  https://datasets.imdbws.com/title.akas.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.65.229.126, 18.65.229.32, 18.65.229.63, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.65.229.126|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 301582596 (288M) [binary/octet-stream]
Saving to: ‘title.akas.tsv.gz’

title.akas.tsv.gz   100%[===================>] 287.61M  60.6MB/s    in 5.2s

2023-04-09 12:21:43 (55.8 MB/s) - ‘title.akas.tsv.gz’ saved [301582596/301582596]

In [9]:
df = pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz', sep='\t')

/var/folders/c3/r_4cj39j3d9171vn6cwl_8y80000gn/T/ipykernel_61860/145905583.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz', sep='\t')

In [7]:
len(df)

35544839

In [10]:
df.columns

Index(['titleId', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle'],
      dtype='object')

In [79]:
df.head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0

In [12]:
df.isOriginalTitle.unique()

array([0, 1, '0', '1', '\\N'], dtype=object)

In [15]:
# mixed datatypes in isOriginalTitle column
df['isOriginalTitle'].value_counts()

0     21024609
0     12708190
1      1321058
1       488873
\N        2109
Name: isOriginalTitle, dtype: int64

In [37]:
# updating data type to int
df.loc[df['isOriginalTitle'] == '1', 'isOriginalTitle'] = 1
df.loc[df['isOriginalTitle'] == '0', 'isOriginalTitle'] = 0
df.loc[df['isOriginalTitle'] == '\\N', 'isOriginalTitle'] = np.nan

In [26]:
df['isOriginalTitle'].value_counts()

0     33732799
1      1809931
\N        2109
Name: isOriginalTitle, dtype: int64

In [77]:
df.head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0
10,tt0000002,3,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0
11,tt0000002,4,Der Clown und seine Hunde,DE,\N,\N,literal title,0
12,tt0000002,5,Clovnul si cainii sai,RO,\N,imdbDisplay,\N,0
13,tt0000002,6,Клоун и его собаки,RU,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
15,tt0000002,8,道化師と犬,JP,ja,imdbDisplay,\N,0
16,tt0000003,1,Sarmanul Pierrot,RO,\N,imdbDisplay,\N,0
17,tt0000003,2,Szegény Pierrot,HU,\N,imdbDisplay,\N,0
18,tt0000003,3,哀れなピエロ,JP,ja,imdbDisplay,\N,0
19,tt0000003,4,Бідний П'єро,UA,\N,imdbDisplay,\N,0

In [40]:
originalTitles = pd.DataFrame()
originalTitles = df[df.isOriginalTitle == 1]

In [74]:
originalTitles.head(10)

TypeError: last() missing 1 required positional argument: 'offset'

In [63]:
# checking for duplicate titleId's
originalTitles.duplicated(subset=['titleId']).sum()

159

In [75]:
duplicates = originalTitles[originalTitles.duplicated(subset=['titleId']) == True]
duplicates.tail(20)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
29525875,tt6262010,2,Blind Date,\N,\N,original,\N,1
29756707,tt6447474,2,National Theatre Live: The Last of the Haussmans,\N,\N,original,\N,1
30051115,tt6644688,2,Queen,\N,\N,original,\N,1
30243694,tt6782014,1,Mystery Science Theater 3000: The Return,\N,\N,original,\N,1
30282267,tt6813684,3,"Suck It, Old Lady",\N,\N,original,\N,1
30350866,tt6860862,3,Nazi Megastructures: Hitler's War Trains,\N,\N,original,\N,1
30529135,tt6982360,6,Skyscraper Cinema,\N,\N,original,\N,1
30613526,tt7040678,3,Namoro À Distância,BR,\N,original,\N,1
30838282,tt7174944,3,The Park,\N,\N,original,\N,1
31207416,tt7418012,2,Martin's Vlog,\N,\N,original,\N,1
31647438,tt7734738,3,Stekle lisice,\N,\N,original,\N,1
32256821,tt8106596,5,The Legend of Cocaine Island,\N,\N,original,\N,1
32663376,tt8337320,5,Lyrebird,\N,\N,original,\N,1
32806797,tt8417168,3,The Silk Road Rally,US,\N,original,\N,1
32982903,tt8519576,2,You and Eye,\N,\N,original,\N,1
33296144,tt8707008,7,Berserker: Death Fields,\N,\N,original,\N,1
34072278,tt9145372,5,The Accident,\N,\N,original,\N,1
34402028,tt9317864,3,A Song for My Father,\N,\N,original,\N,1
34834651,tt9545306,2,The Dice,\N,\N,original,\N,1
35224619,tt9747440,7,A Christmas Love Story,\N,\N,original,\N,1

In [76]:
originalTitles.loc[originalTitles['titleId'] == 'tt6813684']

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
30282266,tt6813684,2,Rhoda Goes Shopping,\N,\N,original,\N,1
30282267,tt6813684,3,"Suck It, Old Lady",\N,\N,original,\N,1

In [81]:
df['region'].value_counts()

DE    4254516
FR    4250304
JP    4249483
IN    4189919
ES    4171014
       ...
JE          2
TV          1
NU          1
PW          1
NR          1
Name: region, Length: 248, dtype: int64

In [82]:
originalTitles['region'].value_counts() # original titles have less region data

\N     1809910
US          10
XWW          4
GB           2
JP           1
HK           1
CN           1
BR           1
DK           1
Name: region, dtype: int64

In [83]:
originalTitles['attributes'].value_counts()

\N                            1809928
first two episodes title            1
first three episodes title          1
first four episodes title           1
Name: attributes, dtype: int64

In [ ]:
'''
schema = {
    titleId = Column(String), # ID
    ordering = Column(Integer), # number of rows for a given titleId (lots of dups!)
    title = Column(String),
    region = Column(String),
    language = Column(String),
    types = List(Column(String)), # set of attributes for alternative title
    attributes = List(Column(String)), # additional info
    isOriginalTitle = Column(Integer) # Boolean value
}
'''